.side-area {
  width: 15vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.336);
 }

 /* DRAG AND DROP AREA */
 .dnd-area {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;

 }

 .nodes-search {
  padding: 0.4em;
  width: 100%;
  border-radius: 5px;
  background-color:#d6cdd1;
  border-color: #666363;
  color: #665757;
 }

 .nodes-list {
  margin-top: 1.5em;
  width: 100%;
  border: #1a192b;
  border-radius: 5px;
 }
 
 .dndnode {
  background-color: #d6cdd1a2;
  padding: 0.6em;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #3d3a3a;
 }

 .dndnode:hover {
  background-color: #ccc1c6;
  transition-duration: 0.3s;
 }

/* PARAMETERS AREA */
.update-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 1em;
  padding: 0.5em;
  border-radius: 5px;
  background-color: #d6cdd1a2;
}

.params-title {
  color: #1a192b;
  text-align: center;
}