.params-area {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  background-color:#505050;
}

.params-title {
  color: #1a192b;
  text-align: center;
}

.params-list {
  color: #1a192b;
  height: 40vh;
  margin-top: 1em;
}

.param {
  display: grid;
  background-color: #d6cdd1a2;
  border-radius: 5px;
  padding: 0.2em;
  margin-bottom: 0.2em;
}

.param-input {
  padding: 0.5em 0 0.5em 0.5em;
  border-radius: 5px;
}
  