.params-area {
  width: 90%;
  color: #1a192b;
  height: 20em;
}

.param {
  display: grid;
  width: 90%;
  background-color: #9a9aa1;
  border-radius: 5px;
  padding: 0.2em;
  margin-bottom: 0.2em;
}

.param-input {
  padding: 0.5em;
  border-radius: 5px;
}